.dashboard {
  display: flex;
  height: 100vh;
  background-color: #36393f;
  color: #dcddde;
}

.main-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column; /* Changed to column */
}

.chat-container {
  display: flex;
  flex-direction: row; /* Changed to row */
  flex-grow: 1;
}